<input type="text" (keyup)='filterDatatable($event)'>

<div>
  <ngx-datatable [rows]="rows" [columns]="columns" [rowHeight]="'auto'" [columnMode]="'force'">

    <ngx-datatable-column *ngFor="let column of columns;
            let i = index;" name="{{column.name}}" prop="{{column.prop}}">
    </ngx-datatable-column>

    <ngx-datatable-column name="Actions" [sortable]=false prop="id">
      <ng-template let-row="row" let-value="value" let-rowIndex="rowIndex"
        ngx-datatable-cell-template>
        <button (click)="delete(row)">
          Delete
        </button>
        <a (click)="viewDetail(row)">
          Detail
        </a>
      </ng-template>
    </ngx-datatable-column>

  </ngx-datatable>
</div>